.Board {
  background-color: #555;
  border-radius: 5%;
  display: inline-block;
  /* width:80%; */
  margin: auto;
  padding: 8px;
}

.Board-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
