.Board {
  border-radius: 10px;
  display: inline-block;
  margin: auto;
  padding: 1% 0 1%;

  /* height: 80%; */
  width: 90%;
  max-height: 80%;

  position: relative;

  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-content: center;
}

.Board-row {
  flex-grow: 1;
  /* background-color: blue; */
  /* height: 10%; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
