.Board {
  border-radius: 10px;
  display: inline-block;
  margin: auto;
  padding: 1% 0 1%;

  /* height: 80%; */
  width: 90%;
  max-height: 80%;

  position: relative;

  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-content: center;
}

.Board-row {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (min-width: 650px) and (max-width: 1300px) {
  .Board {
    transform-origin: top;
    transform: scale(0.55);
    margin: 15vw auto 10%;
  }
}
@media (min-width: 950px) and (max-width: 1300px) {
  .Board {
    transform: scale(0.55);
  }
}

@media (min-width: 650px) and (max-width: 949px) {
  .Board {
    transform: scale(0.75);
  }
}
