.Field{
  background-color: #555;
  border-radius: 20%;
  display: inline-block;
  height: 30px;
  margin: 0;
  transition: all 300ms ease-out;
  width: 30px;
}

.Field-taken{
  border-radius: 100%;
  position:relative;
  transform: scale(0.9);

}

.Field-possible:hover{
  background-color: #aca;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.Field-black{
  background-color: #111;
}

.Field-white{
  background-color: #eee;
}
