.Field{
  background-color: lightgray;
  display: inline-block;
  margin: 0;
  height: 20px;
  width: 20px;
}

.Field-possible:hover{
  background-color: gray;
}
.Field-black{
  background-color: black;
}

.Field-white{
  background-color: white;
}
