.Field {
  background-color: #555;
  opacity: 0.3;
  border-radius: 20%;
  margin: 0;

  transition: all 400ms ease-out;
  transform: scale(0.95);
  flex-grow: 1;
}

.Field:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
}

.Field-taken {
  opacity: 1;
  position: relative;
  z-index: 1;
  border-radius: 100%;
  transform: scale(0.9);
  transition: all 500ms ease-out;
}

.Field-possible:hover {
  opacity: 1;
  transform: scale(0.9);
  border-radius: 25%;
  background-color: #aca;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.Field-black {
  background-color: #111;
}

.Field-white {
  background-color: #e3c4a8;
}
