.Game {
  width: 100vw;
  height: 100vh;

  animation-timing-function: ease-out;
  animation: fade-in 700ms 1;
  transition: all 700ms ease-in-out;

  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-rows: 100%;
  grid-template-areas: "black-player board white-player";
  grid-template-columns: 1fr 2fr 1fr;
}

.Game-black-won {
  background-color: #222;
  background-blend-mode: darken;
}

.Game-white-won {
  background-color: #d3b296;
  background-blend-mode: darken;
}

.Game-board {
  grid-area: board;
  height: 100%;
  width: 100%;
  padding-top: 15%;

  transition: all 700ms ease-in-out;
  position: relative;
}

.Game-board-win {
  transform: scale(0.93);
}

/* .Game-board::after {
  content: "";
  display: block;
  padding: 50%;
} */

.Game-pass {
  width: 100%;
  height: 100%;
  display: flex;
}

.Game-pass-black {
  grid-area: black-player;
}

.Game-pass-white {
  grid-area: white-player;
}

@keyframes fade-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
