.Game {
  width: 100vw;
  height: 100vh;

  animation-timing-function: ease-out;
  animation: fade-in 700ms;
  transition: all 700ms ease-in-out;

  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-rows: 100%;
  grid-template-areas: "black-player board white-player";
  grid-template-columns: 1fr 2fr 1fr;

  overflow: hidden;
}

.Game-black-won {
  background-color: #222;
  background-blend-mode: darken;
}

.Game-white-won {
  background-color: #d3b296;
  background-blend-mode: darken;
}

.Game-board {
  grid-area: board;
  height: 100%;
  width: 100%;
  padding-top: 15vh;

  transition: all 700ms ease-in-out;
  position: relative;
}

.Game-board-win {
  transform: scale(0.93);
}

.Game-pass {
  width: 100%;
  height: 100%;
  display: flex;
}

.Game-pass-black {
  grid-area: black-player;
}

.Game-pass-white {
  grid-area: white-player;
}

.Game footer {
  color: #e3c4a8;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;

  text-shadow: 2px 1px 5px rgba(51, 49, 59, 0.78);
}

@media (max-width: 699px) {
  .Game {
    grid-template-rows: 50% 44% 6%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "board board"
      "black-player white-player"
      ". .";
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .Game {
    grid-template-rows: 60% 34% 2%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "board board"
      "black-player white-player"
      ". .";
  }
}

@keyframes fade-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
