.Game {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-rows: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "black-player board white-player";
}

.Game-board {
  grid-area: board;
  height: 100%;
  width: 100%;
  padding-top: 15%;
}

.Game-board::after {
  content: "";
  display: block;
  padding: 50%;
}

.Game-pass {
  width: 100%;
  height: 100%;
  display: flex;
}

.Game-pass-black {
  grid-area: black-player;
}

.Game-pass-white {
  grid-area: white-player;
}
