.Interface {
  background-color: #33313b;
  width: 100vw;
  /* max-height: -webkit-fill-available; */
  height: 100%;
  overflow: hidden;
  /* min-height: 100%; */

  text-align: center;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
