.MenuMobile {
  margin: 0;
  overflow: hidden;
  /* position: relative; */

  animation-timing-function: ease-out;
  animation: fade-in-mobile 700ms;

  height: 100vh;
  width: 100vw;

  border-radius: 40px;

  text-align: center;
  text-justify: center;
  color: #e3c4a8;
}

.MenuMobile-GO-header {
  font-size: 14em;
  margin: 23% auto 0;
}

.MenuMobile-board-types-box {
  margin: 10% auto 0;
  width: 80%;

  display: flex;
  flex-wrap: wrap;

  text-align: center;
  text-justify: center;
  justify-content: space-around;
  align-content: center;
}

.MenuMobile-board-type {
  margin: 30px 25px 0;
  width: 130px;
  height: 130px;
  position: relative;
  line-height: 0;

  transition: all 400ms ease-in-out;

  border-radius: 50%;
  border: none;
  outline: none;

  background-color: #e3c4a8;
  color: #111;
  font-size: 3em;
}

.MenuMobile-board-type:hover {
  box-shadow: 0px 0px 35px #aca;
  transform: scale(1.2);
}

@media (max-width: 480px) {
  .MenuMobile-GO-header {
    font-size: 10em;
    margin: 25% auto 0;
  }

  .MenuMobile-board-type {
    width: 90px;
    height: 90px;
    font-size: 2em;
  }
}

.MenuMobile footer {
  /* transition: all 2000ms ease-in-out; */
  color: #e3c4a8;
  position: fixed;
  width: 100%;
  /* top: expression(
    (
        0- (footer.offsetHeight)+
          (
            document.documentElement.clientHeight ?
              document.documentElement.clientHeight: document.body.clientHeight
          )+ (ignoreMe = document.documentElement.scrollTop ?
              document.documentElement.scrollTop: document.body.scrollTop)
      )+"px"
  ); */

  bottom: 10px;
  /* left: 0;
  right: 0; */
  text-align: center;
  margin: 0 auto 0;

  overflow: hidden;
}

@keyframes fade-in-mobile {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
